.carousel-indicators li{
​	width: 0.8rem;
	height: 0.8rem;
​	border-radius: 50%;
​	background: #fff;
​	margin: 0 0.5rem;
​	}
.carousel-indicators .active{

	background:#0aa1ed;

}
.carousel-control-next{
	width: 40px;height: 80px;
	
	background: rgba(255,255,255,0.8);
	
	border-radius: 0.25rem;
	margin-right: 10px;
	
	top:40%;
}
.carousel-control-next:hover ,.carousel-control-prev:hover{
	width: 40px;height: 80px;
	
	background: rgba(0,0,0,0.4);
	
	border-radius: 0.25rem;
	margin-right: 10px;
	
	top:40%;
}
.carousel-control-prev{
	width: 40px;height: 80px;
	
	background: rgba(255,255,255,0.8);
	
	border-radius: 0.25rem;
	margin-left: 10px;
	
	top:40%;
}

.border-bottom{
	border-color: #999 !important;
}

.top-height{
	height: 377px;background-color: #e8e8e8;}
.bottom_height{
	height: 235px;background-color: #e8e8e8;
}

/*  */
.img_1L_1{
	margin-top: -200px;margin-right: 30px;
	transition: transform 1s;
}
.img_1L_1:hover{
	transform: scale(1.1);
}
@media (min-height:576px) {
	.img_1L_1{
		margin-top: -250px;
	}
}
@media (min-height:768px) {
	.img_1L_1{
		margin-top: -200px;
	}
}
@media (min-height:992px) {
	.img_1L_1{
		margin-top: -230px;
	}
}
@media (min-height:1200px) {
	.img_1L_1{
		margin-top: -230px;
	}
}

.img_1L_2{
	width: 90%;
	transition: 1s;
}
.img_1L_2:hover{
	transform: scale(1.1);
}